@import '../reset.scss';
@import '../base/variables';

body{
    position: relative;
    
    .background{
        display: none;
        width: 100%;
        height: 100%;
        opacity: 0.4;
        background-color: #000000;
        position: absolute;
        z-index: 3;
    }
}

header{
    
    .catalog_open{
         display: none;
        .container{
            padding: 0;
            position: relative;
            .main_wrapper{
                position: absolute;
                top: -49px;
                z-index: 5;
            }
            
            
        }
        &__tabs_block{
            min-height: 46px;
            display: flex;
            justify-content: flex-start;

            >div{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 20px;
                min-height: 46px;
                background-color: #ededed;
                font-size: 16px;
                line-height: 24px;
                font-weight: 700;
                text-transform: uppercase;
                border: none;

                &.home, &.professional{
                    font-size: 14px;
                }

                span{
                    line-height: 1;
                    text-align: center;
                }
    
                &:hover{
                    cursor: pointer;
                    background-color:$main-color;
                    
                }

                &.active{
                    background-color: #000000;
                    color: $main-color;
                    position: relative;
                    span{

                        &::after{
                            content: "";
                            width: 20px;
                            height: 6px;
                            bottom: 0;
                            left: 50%;
                            transform: translate(-50%,0);
                            background: url(../../ico/triangle_up_white.png);
                            position: absolute;
                        }
                    }
                }
    
                i{
                    padding-left: 10px;
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 700;
                }
            }
            .catalog{
                // width: 140px;
                background-color: $main-color;
                i{
                    margin-left: 8px;
                    font-size: 18px;
                    font-weight: 400;
                }
            }
        }
        &__wrapper{
            width: 100%;
            background-color: #fff;
            padding-top: 10px;

            .product_sections, .dop_sections{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                padding: 0 20px;
                li{
                    
                    a{
                        width: 180px;
                        height: 180px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        img{
                            max-width: 100%;
                            max-height: 100%;
                        }

                        .section_title{
                            min-height: 28px;
                            text-align: center;
                            font-size: 12px;
                            line-height: 14px;
                            font-weight: 700;
                            text-transform: uppercase;
                        }
                    }
                }
                
            }
            .product_sections{
                padding-bottom: 29px;
            }
            .dop_sections{
                min-height: 141px;
                background-color: #ededed;
                justify-content: flex-start;
                align-items: center;
                box-sizing: border-box;
                li{
                   margin-right: 20px; 
                    a{
                        width: 190px;
                        height: 100px;
                        background-color: #fff;
                        justify-content: space-around;
                        padding-top: 15px;

                    }
                }
                
            }
        }
        
    }
}
@media (max-width:1204px){
    header{ 
        .catalog_open{
            .container{
                .main_wrapper {
                    padding: 0 10px;
                }
            }
        }
    }
}

@media (max-width:1184px){/*костыль =( */
    body{
        .background{
            height: 107%;
        }
    }
    
}

@media (max-width:1140px){
    header{
        .catalog_open{
           
            &__wrapper{
                .product_sections{
                    padding: 0 10px;
                    li{
                        width: 25%;
                        a{
                            width: 100%;
                        }
                    }
                }
                .dop_sections{
                    padding: 0 10px;
                }
            }
        }
    }
}

@media (max-width:868px){
    header{
        .catalog_open{
            &__tabs_block{
                >div{
                    font-size: 12px;
                    padding: 0 10px;
                    &.home, &.professional{
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .catalog{
        i{
            padding-left: 0;
            font-size: 14px;
        }
    }
}

@media (max-width:768px){
    header{
        .catalog_open{
            .container{
                .main_wrapper{
                    top: -88px;
                }
            }
            &__tabs_block{
                flex-direction: column;
                .catalog{
                    width: 81px;
                }
                
            }
            &__wrapper{
                top: 5px;
                .product_sections{
                    padding: 0;
                    li{
                        width: 33%;
                        a{
                            width: 100%;
                        }
                    }
                }
                .dop_sections{
                    padding: 0;
                    justify-content: center;
                }
            }
        }
    }
}
@media (max-width:645px){/*костыль =( */
    body{
        .background{
            height: 146%;
        }
    }
    
}
@media (max-width:550px){
    header{
        .catalog_open{
            &__wrapper{
                .product_sections{
                    li{
                        width: 50%;
                        a{
                            width: 100%;
                        }
                    }
                }
                .dop_sections{
                    justify-content: space-around;
                    li{
                        margin: 0;
                        width: 50%;
                        a{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

