@import '../reset.scss';
@import '../base/variables';




.container{
    max-width: 1200px;
    margin: 0 auto;
    outline: 1px solid red;
}

.top_line{
    height: 38px;
    background-color: #ededed;
    box-shadow: 0px 1px 0px 0px #cccccc;

    .container{
        display: flex;
        justify-content: space-between;
    }

    &__main-menu, &__auth_block{
        ul{
            display: flex;
            justify-content: space-around;
            list-style-type: none;

            li{
                font-size: 13px;
                line-height: 16px;
                font-weight: 400;

                a{
                    display: flex;
                    height: 38px;
                    text-decoration: none;
                    align-items: center;
                    padding: 0 10px;

                    &:hover{
                        background-color: #f8f8f8;
                    }
                    &:visited{
                        color: #000000;
                    }
                }
            }
        }
    }
    
}

.contacts_line{
    height: 120px;
    border-bottom: 3px solid #ededed;

    .container{
        display: flex;
        justify-content: space-between;
        height: 100%;
        
        
    }

    &__logo{
        padding-top: 24px;
        a{
            text-decoration: none;
    
            div{
                font-size: 12px;
                line-height: 18px;
                font-weight: 400;
                color: #6e6e6e;
                padding-top: 8px;
            }
        }   
    }

    &__contacts{

        display: flex;
        justify-content: space-between;
        width: 735px;
        padding-right: 51px;
        padding-top: 16px;

        .addres, .work_time, .phones{
            display: flex;
            justify-content: center;
            font-size: 14px;
            line-height: 18px;
            font-weight: 400;

            strong{
                font-weight: 700;
            }
        }

        .addres img, .work_time img, .phones img{
            margin-right: 15px;
            margin-top: 5px;
        }

        .phones{
            font-size: 18px;
            line-height: 24px;

            button{
                position: relative;
                width: 136px;
                height: 28px;
                background-color: $main-color;
                font-size: 11px;
                line-height: 18px;
                font-weight: 700;
                text-transform: uppercase;
                border: none;
                margin-top: 10px;
            }
            button::before{
                content: "";
                position: absolute;
                width: 14px;
                height: 4px;
                top: -4px;
                left: 50%;
                transform: translate(-50%, 0);
                background: url(../ico/yellow_triangle.png) no-repeat;
                
            }
        }

    }
    
}

.search_line{
    height: 46px;
    background-color: #ffffff;
    border-bottom: 2px solid #ededed;
   

    .container{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        >div{
            flex: 1;
        }

        .catalog{
            button{
                position: relative;
                width: 140px;
                height: 46px;
                background-color: #ededed;
                font-size: 16px;
                line-height: 24px;
                font-weight: 700;
                text-transform: uppercase;
                border: none;
                span{
                    padding-left: 7px;
                }
            }
            
        }

        .search_form{
            position: relative;
            
            .search_text{
                width: 400px;
                height: 32px;
                background-color: rgba(255,0,0,0.0);
                border: 2px solid #ededed;
                box-sizing: border-box;
                padding: 11px 10px 8px 10px;
                font-size: 13px;
                line-height: 24px;
                font-weight: 400;
            }
            .submit{
                position: absolute;
                right: 0;
                width: 32px;
                height: 32px;
                background-color: #ededed;
                border: none;

                &:hover{
                    background-color: #ffec00;
                }
            }
        }
        

        .basket_block{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 312px;
            height: 100%;

            .favourites, .compare, .basket{
                display: flex;
                justify-content: space-around;
                margin-left: 17px;

                a{
                    display: flex;
                    justify-content: space-around;

                    &:hover{
                        .circle{
                            background-color: $main-color;
                        }
                    }
                }
                
                .circle{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 22px;
                    height: 22px;
                    background-color: #ededed;
                    border-radius: 50%;
                    font-size: 12px;
                    line-height: 18px;
                    font-weight: 700;  
                }

                img{
                    margin-top: 2px;
                }
               
            }

            .basket{

                .basket_sum{
                    font-size: 12px;
                    line-height: 18px;
                    font-weight: 400;
                    margin: 0 10px;
                    padding-top: 3px;
                }
            }
        }
    }
}

.breadcrumbs_line{

    ul{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 19px 0 17px 0;
        

        li{

            a{
                font-size: 12px;
                line-height: 16px;
                font-weight: 400;
                color: #6e6e6e;

                &:visited{
                    color: #000000;
                }
                
                &.last_crumb{
                    color: #cccccc;  
                }
            }  
        }
        .fa-angle-right{
            margin: 0 8px 0 6px;
            color: #cccccc;
            font-size: 12px;
        }

    }
}
